$color-dark-1: #0f1621;
$color-dark-2: #19222F;
$color-dark-3: #1f2d44;
$color-dark-4: #4C4F56;

$color-primary: #1273ea;
$color-secondary: #0281EB;

$color-success: #3B763D;
$color-danger: #D85452;

$color-black: #000;
$color-white: #fff;

$color-gray-1: #fafafa;
$color-gray-2: #F3F4F6;
$color-gray-3: #E5E7EB;
$color-gray-4: #D1D5DB;
$color-gray-5: #9CA3AF;
$color-gray-6: #6B7280;
$color-gray-7: #4B5563;
$color-gray-8: #1F2937;
$color-gray-9: #111827;

$color-text-dark: #212121;

$color-header-landing: #101010;


$color-earth-gradient-1: rgba(2,0,36,0.3);
$color-earth-gradient-2: rgba(9,9,121,0.3);
$color-earth-gradient-3: rgba(0,212,255,0.3);

$color-landing-slider-box-1: #f9635c;
$color-landing-slider-box-2: #b343b5;



// SIZE
$header-size: 6rem;
$header-sub-size: 5.5rem;
$sidebar-width: 25vw;
$sidebar-mobile-width: 70vw;

// VARIABLE

$padding-grid-col: 1rem;
$column-max: 12;

$transition: all ease-in .1s;

// TYPOGRAPHY

$font-primary: 'Poppins,-apple-system,BlinkMacSystemFont,sans-serif';
$font-captain: 'American Captain', Helvetica;

