@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
}

// American Captain

@font-face {
  font-family: "American Captain";
  src: url("../../assets/fonts/American Captain.ttf");
  font-weight: 800;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

p {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 4rem;
  
  li {
    line-height: 2rem!important;
  }
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 1.425rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.8rem;
  line-height: 2rem;
}

.text-2xl {
  font-size: 1.975rem;
  line-height: 2.25rem;
}

.text-3xl {
  font-size: 2rem;
  line-height: 2.25rem;
}

.text-gray-1 {
  color: $color-gray-1;
}
.text-gray-2 {
  color: $color-gray-2;
}
.text-gray-3 {
  color: $color-gray-3;
}
.text-gray-4 {
  color: $color-gray-4;
}
.text-gray-5 {
  color: $color-gray-5;
}
.text-gray-6 {
  color: $color-gray-6;
}
.text-gray-7 {
  color: $color-gray-7;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.text-uppercase {
  text-transform: uppercase;
}

